#DirectoryIndex src/router/Routes.php
DirectoryIndex opera.html

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ src/router/Routes.php/$1 [QSA,L]
</IfModule>

ErrorDocument 403 "<h1>404 Not Found</h1><p></p><script type='text/javascript'>document.body.getElementsByTagName('p')[0].innerHTML += `El recurso especificado no existe, por favor p&oacute;ngase en contacto con el administrador del servidor<hr>Error en la ruta: ${window.location.href}`;</script>"
ErrorDocument 404 "<h1>404 Not Found</h1><p></p><script type='text/javascript'>document.body.getElementsByTagName('p')[0].innerHTML += `El recurso especificado no existe, por favor p&oacute;ngase en contacto con el administrador del servidor<hr>Error en la ruta: ${window.location.href}`;</script>"
ErrorDocument 500 "<h1>500 Internal Server Error</h1><p></p><script type='text/javascript'>document.body.getElementsByTagName('p')[0].innerHTML += `Ha ocurrido un error, por favor p&oacute;ngase en contacto con el administrador del servidor<hr>Error en la ruta: ${window.location.href}`;</script>"