DirectoryIndex src/router/Routes.php

<IfModule mod_rewrite.c>
    RewriteEngine On
#    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ src/router/Routes.php/$1 [QSA,L]
</IfModule>

ErrorDocument 403 "<h3>Paila rey</h3>"
ErrorDocument 404 "<h3>Paila rey</h3>"