Order Deny,Allow
Deny from all
Allow from 192.168.1.10


ErrorDocument 403 /src/pages/error/error.php
ErrorDocument 404 /src/pages/error/error.php
ErrorDocument 500 /src/pages/error/error.php

RewriteEngine On
RewriteRule ^(.*/)?\/src/pages/error/error.php+ - [R=404,L]

#RedirectMatch 404 ^(.*/)?\throwaREAL404error+

#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteRule ^(.+)$ src/router/Routes.php/$1 [QSA,L]
#</IfModule>

#<FilesMatch "^.*\.php$>
#    order deny,allow 
#    deny from all
#</Files>

#<FilesMatch "^(index|key)\.php$">
#    allow from all  
#</Files>